body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
}
h1{
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size:30px;
}
.description{
color:white;
font-size:13px;
font-family: 'Open Sans', sans-serif;

}

button{
    color:purple;
    border-radius:15px;
    border:0px white;
    padding:10px 40px;
   
}
button:hover{
    background-color:greenyellow;
    color:black;
}
.move-right{
    
    position: absolute;
    bottom:210px;
    left:700px;
    right:200px
    line-height: 1.2;

    
}
.attribution{

    position:absolute;
    top:500px;
    left:800px;
}
.link{
    color:greenyellow;
}
.illustration{

   position:absolute;
   top:100px;
   left:40px;
   max-width: 600px;
   
}
.logo{
    max-width:130px;
    margin-top: 30px;
    margin-left:40px;
}
.social a{
color:white;
font-size: 20px;
position:relative;
top:400px;
left:1150px;
}
.social a :hover{
color:greenyellow;
    
}
   
   
   
   
